$form-background: #e6e8ec !important;

.chat-container {
  min-height: 25%;
  max-height: 100%;
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: $form-background;
  text-align: center;
}

.chat-header {
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 2rem;
  padding-top: 1px;
}

.chat-form-body {
  min-width: 50%;
  max-width: 98%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray inset;
  top: 100px;
  text-align: center;
}

.checkbox-input {
  margin-left: 1.5em;
}


.response-modal {
  position: initial;
  background-color: teal;
  color: white;
  margin: 10px auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px mediumpurple;
  }
  to {
    box-shadow: 0 0 20px #0dd028;
  }
}



.spinner-grow {
  animation: grow 1s linear infinite;
}

@keyframes spinner-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


@media only screen and (max-width: 767px) {
  .chat-container {
    max-width: 100%;
  }

  textarea.form-control{
    min-width: 80%;
    max-width: 95%;
  }
}


