<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.example.hyfi.smartscraper"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>smartscraper</name>
    <description>Sample Cordova React App</description>
    <author email="dellius.alexander@gmail.com" href="https://github.com/dellius-alexander">
        HYFI Solutions Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="29" />
        <preference name="android-targetSdkVersion" value="30" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <webpack-config src="./config/webpack.config.js" />
        <resource-file src="./merges/android/static" target="app/src/main/assets/www/static" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="13.0.0" />
        <preference name="InAppBrowserStatusBarStyle" value="lightcontent" />
        <preference name="PreferredContentMode" value="mobile" />
        <webpack-config src="./config/webpack.config.js" />
        <resource-file src="./merges/ios/static" target="merges" />
    </platform>
    <platform name="browser">
        <webpack-config src="./config/webpack.config.js" />
        <resource-file src="./merges/browser" target="www" />
    </platform>
</widget>
